.container {
  max-width: 960px;
}
.header {
  background-color: red;
  width: 100%;
  text-align: center;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.aside1 {
  background: yellow;
  height: 54px;
}
.article {
  background-color: cyan;
  height: 54px;
  text-align: center;
}
.aside2 {
  background-color: pink;
  height: 54px;
}
.footer {
  background-color: green;
  width: 100%;
  text-align: center;
}
